### Estudo de python e banco de dados

In [2]:
# Remover algum banco caso exista
import os 
os.remove('morador.db') if os.path.exists('morador.db') else None

In [3]:
# Importar o SQLite 
import sqlite3

In [4]:
# Criar conexão com banco de dados.
con = sqlite3.connect('morador.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Criar um cursor 
cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
# Criar uma tabela - Comando SQL
sql_create = 'create table apartamento '\
             '(id intenger primary key, '\
             'morador varchar(100), '\
             'andar varchar(50))'

In [9]:
# Executar comando SQL no cursor()
cur.execute(sql_create)

In [10]:
# Sentença SQL para inserir registros na tabela criada
sql_insert = 'insert into apartamento values (?, ?, ?)'

In [11]:
# Dados que serão inseridos
registros = [(100, 'Nalberth Castro', 'Cobertura'),
             (101, 'Bena Castro', 'Segundo'),
             (102, 'Naza Castro', 'Primeiro'),
             (103, 'Neylson Castro', 'Térreo')]

In [12]:
# Inserir registros
for registro in registros:
  cur.execute(sql_insert,registro)

In [13]:
# Gravar a transação no banco de dados
con.commit()

In [14]:
# Sentença SQL para buscar (selecionar) registros
sql_select = 'select * from apartamento'

In [15]:
# Executar comando select
cur.execute(sql_select)

In [16]:
# Reculperar os registros e armazená-los em dados
dados = cur.fetchall()

In [17]:
dados

[(100, 'Nalberth Castro', 'Cobertura'),
 (101, 'Bena Castro', 'Segundo'),
 (102, 'Naza Castro', 'Primeiro'),
 (103, 'Neylson Castro', 'Térreo')]

In [18]:
for linha in dados:
  print('Apartamento Id: %d. Morador: %s, Andar: %s \n' %linha)

Apartamento Id: 100. Morador: Nalberth Castro, Andar: Cobertura

Apartamento Id: 101. Morador: Bena Castro, Andar: Segundo

Apartamento Id: 102. Morador: Naza Castro, Andar: Primeiro

Apartamento Id: 103. Morador: Neylson Castro, Andar: Térreo

In [19]:
# DEpois de usar o banco de dados é importante fechá-lo
con.close()